@import './animations';
.bubble{
  .title {
    text-align: left;
  }
  padding: 1em;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0);
  transition: {
    property: opacity, transform;
    duration: .2s;
  }
  position: absolute;
  background: radial-gradient(ellipse at center, 
            rgb(0, 123, 255) 0%, 
            rgba(54, 151, 255, 0.678) 100%);
  color: white;
  font-weight: 100;
  line-height: 1.5em;
  letter-spacing: .02em;
  z-index: 3;
  
  &.bottom-left {
    border-bottom-left-radius: 2px;
  }
  &.bottom-right {
    border-bottom-right-radius: 2px;
  }
  &.top-left {
    border-top-left-radius: 2px;
  }
  &.top-right {
    border-top-right-radius: 2px;
  }
  &.animate-grow{
    &.top-left {
      transform-origin: 0 0;
    }
    &.bottom-left {
      transform-origin: 0 100%;
    }
    &.bottom-right {
      transform-origin: 100% 100%;
    }
    &.top-right {
      transform-origin: 100% 0;
    }
    &.center {
      transform-origin: 50% 0;
    }
    &.expanded {
      opacity: 1;
      transform: scale(1);
    }
  }

}
.fill {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.circle {
  border: {
    radius: 50%;
    style: solid;
    color: transparent;
  }
  overflow: hidden;
}